/* Write your CSS here */
.bg_container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  width: 60%;
}

.heading {
  color: black;
  font-height: 40px;
  text-align: center;
}
